/* footer styles */
.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(131, 163, 139);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(62, 92, 69);
  border-top: 1px solid rgb(62, 92, 69);
}

.footer p {
  color: white;
  text-align: center;
}

/* nav styles */
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: rgb(131, 163, 139);
  border-bottom: 1px solid rgb(62, 92, 69);
  border-top: 1px solid rgb(62, 92, 69);
}

#nav li {
  float: left;
}

#nav li span {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  border-right: 1px solid rgb(62, 92, 69);
}

#nav li span:hover {
  color:rgb(62, 92, 69)
}

.navActive {  
  font-weight: bold;
  font-style: italic;
}

/* form styles */

.inputDiv input, textarea {
  width: 50%;
}

/* portfolio styles */

.portfolio-item {
  margin-bottom: 2rem;
  box-shadow: 2px 5px 5px rgba(62, 92, 69, 0.486);
}

#portfolio h1 {
  color: rgb(62, 92, 69);
  margin-left: 2rem;
}

.img {
  width: 75%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.486);
  margin-left: 2rem;
  margin-bottom: 2rem;
}